/* header area */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*HEADER*/
.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-div {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.span {
  color: #2e2f42;
}

.hero-header {
  max-width: 496px;
}

.header-ul {
  display: flex;
  gap: 40px;
}
.header-ul .list:last-child {
  margin-right: 0;
}

.header-ul .list .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-ul .list .item:hover,
.header-ul .list .item:focus {
  color: #404bbf;
}

.header-ul .link-item {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item::after {
  content: "";
  background-color: #404bbf;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
}

.address {
  font-style: normal;
}
.address .address-ul {
  display: flex;
}
.address-ul .list {
  margin-right: 40px;
}
.address-ul .list:last-child {
  margin-right: 0;
}
.address-ul .list .item {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.address-ul .list .item:hover,
.address-ul .list .item:focus {
  color: #404bbf;
}
address a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*SECTION ONE*/
.section-one {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office1.jpg);
}

.section-div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.hero-button {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.hero-header {
  font-size: 48px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
/*SECTION TWO*/

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-two {
  background-color: #ffffff;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-ul {
  display: flex;
  gap: 72px;
}

.section-ul .list.team {
  width: calc((100% - 48px) / 4);
}
/*SECTION THREE*/

.li-box {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.three-div {
  padding: 32px 0;
}

.three-icon-svg {
  fill: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.three-social-media-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-button-li {
  width: 40px;
  height: 40px;
}

.social-media-button {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-button:hover,
.social-media-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*SECTION FOUR*/

.four {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-ul.four .list.end {
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}

.section-ul .list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.section-ul .list.about-item {
  width: calc((100% - 72px) / 4);
}

.card-end {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-ul .list .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.section-ul .list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-four {
  background-color: #ffffff;
  padding: 120px 0;
}
.section-header {
  font-size: 36px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-div {
  position: relative;
  overflow: hidden;
}

.list.end:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list.end:hover .paragraph {
  transform: translateY(0%);
}

.paragraph {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*SECTION FOOTER*/

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-section .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-section .logo .span {
  color: #f4f4fd;
  display: inline-block;
}
.footer-section .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-first {
  display: flex;
  align-items: baseline;
}
.footer-icon-svg {
  fill: #f4f4fd;
}
.paragraph-one {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-media-ul {
  display: flex;
  gap: 16px;
}
.footer-social-media-li {
  width: 40px;
  height: 40px;
}
.social-media-button-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-button-link:hover,
.social-media-button-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo {
  margin-right: 120px;
}
/*HOMEWORK-5*/

/*FOOTER*/

.modal-overlay {
  margin-left: 80px;
}
.footer-modal-par {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-modal-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-modal-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.send-svg {
  margin-left: 16px;
  opacity: 100%;
}
/*FOOTER FINISH*/

/*MODAL PENCERE*/

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button-box {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-box:hover,
.modal-button-box:focus {
  background-color: #404bbf;
  border: none;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}
.modal-paragraph {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-div {
  margin-bottom: 8px;
}

.modal-div-box {
  position: relative;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-div {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-div:focus + .form-svg {
  fill: #4d5ae5;
}
.input-div:focus {
  border-color: #4d5ae5;
}

.form-comment-div {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.modal-div-checkbox {
  margin-bottom: 24px;
}
.modal-label-box {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.visually-hidden:checked + .modal-span-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  fill: transparent;
  margin: 0;
}
.button-checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.button-div {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

/*Son Eklenenler*/
.icon-box {
  display: none;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1157px) {
  /*header*/
  .container {
    width: 100%;
  }
  .header .container .address .address-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  /* SECTION-TWO*/

  .section-two .section-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-two .section-ul .list {
    width: 356px;
  }

  .section-three .section-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .section-three .section-ul .list {
    width: 264px;
  }
  .section-four .section-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-four .section-ul .list {
    min-width: 356px;
  }
  .footer-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-section .container .footer-logo {
    margin-right: 0;
  }
  .footer-section .container .modal-overlay {
    margin-left: 0;
  }
}

/*mobil*/

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .section-two .section-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .section-two .section-ul .list {
    width: 288px;
  }
  .section-three .section-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .section-three .section-ul .list {
    width: 264px;
  }
  .section-four .section-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-four .section-ul .list {
    min-width: 288px;
  }
  .footer-section .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .modal-overlay .footer-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .modal-overlay .footer-modal-form .footer-modal-button {
    width: 165px;
  }
  .header-nav .header-ul {
    display: none;
  }
  .address {
    display: none;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 72px 16px;
    display: flex;
    flex-direction: column;
    gap: 168px;
    /* display: none; */
  }
  .menu .modal-button-box {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
  }
  .menu .menu-address {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .menu .menu-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu .address-ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .menu .menu-ul .menu-active {
    color: blue;
  }
  .menu .address-ul .menu-li {
    color: blue;
  }
}
